window{
  font-size:14px;
  background-color:#1d2021;
  border:1px solid #fe8019;
  color:#fbf1c7;
  font-family: monospace;
	opacity: 0.8;
}

#entry:selected{
  background-color:#fabd2f;
  }

#text:selected{
    color:#1d2021;
  }

#input{
    background-color:#282828;
    border:1px solid #fe8019;
    color:#b8bb26;
  }
