* {
	font-size: 12px;
	font-family: "FiraCode Nerd Font";
	font-weight:bold;
}

window#waybar {
	background: #000000;
}

#cpu, #memory, #temperature,#disk,#custom-vram {
    color:#565f89; /* Gris azulado (Información base) */
}

#cpu.critical, #memory.critical ,#custom-vram.critical{
    font-weight: bold;
    color: #f7768e; /* Rojo (Solo cuando hay problemas) */
}

#pulseaudio.muted {
    color: #565f89; /* Gris oscuro (No molesta) */
}

#workspaces button.focused {
    color: #7dcfff; /* Celeste Eléctrico (Donde estás ahora) */
    border-bottom: 2px solid #7dcfff;
}

#custom-vram.medium {
    color: #e0af68; /* AMARILLO/NARANJA: Estás editando o procesando algo */
}



#workspaces,
#clock.1,
#clock.2,
#clock.3,
#tray,
#clipboard,
#keyboard-state,
#keyboard-state label,
#keyboard-state label.locked,
#keyboard-state label.numlock,
#keyboard-state label.numlock.locked,
#keyboard-state label.capslock,
#keyboard-state label.capslock.locked,
#keyboard-state label.scrolllock,
#keyboard-state label.scrolllock.locked,
#custom-weather,
#scratchpad,
#network,
#pulseaudio,
#updates {
	color:#56E0F5;
	padding: 0 2px;
}

#calendar{
	background:#3a3a3a;
	color:#56E0F5;
	padding: 0 10px;
	}

#custom-clipboard{
	color:#7ba3a4;
	}

#workspaces button {
	padding: 0 6px;
	color:#e2e086;
}
#workspaces button:hover {
	padding: 0 6px;
  border:none;
  border-color: #565f89;
	color:orange;
  background: #565f89;
}

