/* --- CONFIGURACIÓN GLOBAL --- */
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", "FiraCode Nerd Font Mono";
    font-size: 12px; /* Un punto más para legibilidad */
    font-weight: bold;
    min-height: 0;
}

/* --- BARRA PRINCIPAL --- */
window#waybar {
    background: #000000;
    /* color: #FFB74D; [> Naranja base <] */
    border-bottom: 1px solid #FB8C00;
    transition-property: background-color;
    transition-duration: .5s;
}

/* --- WORKSPACES (Jerarquía de navegación) --- */
#workspaces button {
    padding: 0 8px;
    color: #FB8C00; /* Inactivos: Naranja oscuro */
    background: transparent;
}

#workspaces button.focused {
    color: #FFE082; /* ACTIVO: Amarillo Crema (Foco principal) */
    background: #1a1a1a; /* Un gris-negro muy sutil para destacar el botón */
    border-bottom: 2px solid #FFE082;
}

#workspaces button.urgent {
    color: #f7768e; /* Alerta en rojo */
}

#workspaces button:hover {
    background: #333333;
    color: #FFE082;
}

/* --- MÓDULOS DE INFORMACIÓN (Jerarquía 2) --- */
#memory, 
#disk, 
#network, 
#pulseaudio, 
#tray, 
#updates,
#custom-weather {
    padding: 0 10px;
    color: #FFB74D; /* Naranja Medio */
}


#custom-telemetria {
    background-color: #af8700;
    color: #050505;
    padding: 0 10px;
    border-radius: 6px;
    margin-left: 10px;
    font-weight: bold;
}
/* --- RELOJ (Jerarquía 1: El dato más consultado) --- */
#clock {
    color: #FFE082; /* Amarillo Clarito */
    padding: 0 10px;
}

/* --- ESTADOS ESPECIALES (Jerarquía 3: Alertas) --- */
#memory.critical{
    color: #f7768e; /* Rojo Neón */
    animation: blinker 1s linear infinite;
}


tooltip {
    background: rgba(5, 5, 5, 0.95); /* El negro de tu Alacritty con un toque de transparencia */
    border: 1px solid #ff8700; /* Borde naranja NERV */
    border-radius: 4px;
}

tooltip label {
    color: #ff8700;
    font-family: "JetBrains Mono", "Terminus", "monospace"; /* Usá tu fuente de Alacritty */
    font-size: 14px;
    padding: 8px;
}



@keyframes blinker {
    50% { opacity: 0.5; }
}


#pulseaudio.muted {
    color: #563D2D; /* Marrón Sepia (Desactivado/No distrae) */
}

/* --- OTROS ELEMENTOS --- */
#custom-clipboard {
    color: #FB8C00;
    padding: 0 5px;
}

#calendar {
    background: #000000;
    padding: 15px;
    border: 1px solid #FB8C00;
    color: #FFE082;
}

#tray menu {
    background: #000000;
    border: 1px solid #FB8C00;
}

/* --- PADDING DE AJUSTE --- */
#workspaces,
#clock.1,
#clock.2,
#clock.3,
#tray,
#clipboard,
#keyboard-state,
#custom-weather,
#scratchpad,
#updates {
    padding: 0 3px;
}

#custom-separator {
    color: #333333;
    margin: 0 5px;
}
