window{
  font-size:12px;
  background-color:#000;
	margin:4px;
  border:1px solid #FFE082;
  color:#FFE082;
  font-family:"FiraCode Nerd Font";
}

#entry:selected{
  background-color:#FB8C00;
  }

#text:selected{
    color:black;
		font-weight:bold;
  }

#input{
    background-color:#000;
    border:0.5px solid #FFE082;
    color:#FFE082;
		padding:2px;
  }
#input:enabled{
	background-color:black;
	border:1px solid transparent;
}
